src/*.exe
src/ethereumgold
src/ethereumgoldd
src/test_ethereumgold
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ethereumgold

# Compilation and Qt preprocessor part
*.qm
Makefile
ethereumgold-qt
EthereumGold-Qt.app

# Unit-tests
Makefile.test
ethereumgold-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
